<% if(lang === 'cn') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364847/capital1-cn_pkccd1.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364847/capital1-cn_pkccd1.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364858/capital2-cn_ykp59b.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364858/capital2-cn_ykp59b.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364863/capital3-cn_ij1fwc.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364863/capital3-cn_ij1fwc.jpg" alt=""
                        width="100%"></a>
</div>
<% } else if(lang === 'vi') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364857/capital1-vi_gzkuyu.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364857/capital1-vi_gzkuyu.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364861/capital2-vi_tnqt0b.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364861/capital2-vi_tnqt0b.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364866/capital3-vi_cdpuej.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364866/capital3-vi_cdpuej.jpg" alt=""
                        width="100%"></a>
</div>
<% } else { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364851/capital1-en_m7lsh5.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364851/capital1-en_m7lsh5.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364859/capital2-en_utkxvs.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364859/capital2-en_utkxvs.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592364864/capital3-en_hk5dv3.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592364864/capital3-en_hk5dv3.jpg" alt=""
                        width="100%"></a>
</div>
<% } %>