<% if(lang === 'cn') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366318/training1_cn_zsy5yg.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366318/training1_cn_zsy5yg.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_cn_jursna.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_cn_jursna.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_cn_jursna.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_cn_jursna.jpg" alt=""
                        width="100%"></a>
</div>
<% } else if(lang === 'vi') { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training1_vi_mddiez.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training1_vi_mddiez.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_vi_bhrghh.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_vi_bhrghh.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366320/training3_vi_oybaih.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366320/training3_vi_oybaih.jpg" alt=""
                        width="100%"></a>
</div>
<% } else { %>
<div class="fancybox">
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training1_en_jv9ks4.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training1_en_jv9ks4.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_en_nztvic.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training2_en_nztvic.jpg" alt=""
                        width="100%"></a>
        <a class="fancybox mt-2" rel="gallery1"
                href="https://res.cloudinary.com/vgf/image/upload/v1592366319/training3_en_crjewu.jpg"><img
                        src="https://res.cloudinary.com/vgf/image/upload/v1592366319/training3_en_crjewu.jpg" alt=""
                        width="100%"></a>
</div>
<% } %>