<% if(lang === 'vi') { %>
<a href="/pdf/IPFS&Filecoin-VN.pdf" download="IPFS_Filecoin document" class="document">

    <img src="/images/download.png" alt="download" width=60>
    <p>Hãy tải file này về!</p>
</a>
<% } else if(lang === 'cn') { %>
<a href="/pdf/IPFS&Filecoin-EN.pdf" download="IPFS_Filecoin document" class="document">

    <img src="/images/download.png" alt="download" width=60>
    <p>Download this file!</p>
</a>
<% } else { %>
<a href="/pdf/IPFS&Filecoin-EN.pdf" download="IPFS_Filecoin document" class="document">

    <img src="/images/download.png" alt="download" width=60>
    <p>Download this file!</p>
</a>
<% } %>