<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
    <style>
        .custom-file-input {
            color: #000;
            opacity: 1;
        }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            content: 'Select some files';
            color: black;
            display: inline-block;
            background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: black;
        }

        .custom-file-input:active {
            outline: 0;
        }

        .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
        }
    </style>
</head>

<body class="bg-light d-flex flex-column h-100">
    <%- include ('./partials/header') %>
    <main role="main" class="container flex-shrink-0">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm"
            style="background-color: green;">
            <img class="mr-3" src="/images/admin.jpg" alt="admin-image" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">Add News</h6>
                <small></small>
            </div>
        </div>
        <form class="pb-3" action="/admin/news/postNewsForm" method="POST" enctype="multipart/form-data">
            <div class="my-3 p-3 bg-white rounded shadow-sm pc">
                <div class="row media text-muted pt-3">
                    <div class="form-group col-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">News Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" name="news_type">
                                <option selected>Choose...</option>
                                <option value="1">Forex News</option>
                                <option value="2">Commodity News</option>
                                <option value="3">World News</option>
                                <option value="4">Finance Times</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">English</h6>
                <div class="row media text-muted pt-3">
                    <div class="form-group col-12 pc">
                        <input type="text" class="form-control" name="title_en" value="" placeholder="English Title">
                    </div>
                    <div class="form-group col-12 pc ">
                        <input type="text" class="form-control" name="subtitle_en" value=""
                            placeholder="English Subtitle">
                    </div>
                    <div class="form-group col-12">
                        <textarea name="content_en" id="editor1" rows="10" cols="80"></textarea>
                    </div>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Vietnamese</h6>
                <div class="row media text-muted pt-3">
                    <div class="form-group col-12 pc">
                        <input type="text" class="form-control" name="title_vi" value="" placeholder="Vietnamese Title">
                    </div>
                    <div class="form-group col-12 pc ">
                        <input type="text" class="form-control" name="subtitle_vi" value=""
                            placeholder="Vietnamese Subtitle">
                    </div>
                    <div class="form-group col-12">
                        <textarea name="content_vi" id="editor2" rows="10" cols="80"></textarea>
                    </div>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Simplified Chinese</h6>
                <div class="row media text-muted pt-3">
                    <div class="form-group col-12 pc">
                        <input type="text" class="form-control" name="title_cn" value=""
                            placeholder="Simplified Chinese Title">
                    </div>
                    <div class="form-group col-12 pc ">
                        <input type="text" class="form-control" name="subtitle_cn" value=""
                            placeholder="Simplified Chinese Subtitle">
                    </div>
                    <div class="form-group col-12">
                        <textarea name="content_cn" id="editor3" rows="10" cols="80"></textarea>
                    </div>
                </div>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Banner</h6>
                <div class="form-group col-12">
                    <br>
                    <input type="file" name="image" class="custom-file-input">
                </div>
            </div>
            <button class="btn btn-outline-success btn-block my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </main>

    <script>
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
        CKEDITOR.replace('editor3');
    </script>
    <%- include ('./partials/footer') %>
</body>

</html>