<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/favicon.jpg" sizes="36x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/registerForm.css">
    <title>Register Form || Admin</title>
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="/images/vgf-logo-white.png" id="icon" alt="Company-Icon" />
            </div>
            <% if(error !== undefined) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
            <form class="mt-3" action="/admin/register" method="POST">
                <input type="text" class="fadeIn second" name="employeeId" placeholder="Employee Id" required>
                <input type="text" id="login" class="fadeIn third" name="username" placeholder="Username" required>
                <input type="password" id="password" class="fadeIn fourth" name="password" placeholder="Password"
                    required>
                <input type="password" id="password" class="fadeIn fiveth" name="confirmPassword"
                    placeholder="Confirm Password" required>
                <input type="submit" class="fadeIn sixth" value="Create">
            </form>
        </div>
    </div>
</body>

</html>