<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>
<title><%= title %></title>
<meta name="description" content="ducthanhmultimedia" />
<meta name="keywords" content="ducthanh, media, ducthanhmultimedia" />
<meta name="author" content="ducthanhmultimedia" />
<meta property="og:url" content="https://ducthanhmultimedia.com/" />
<meta
  property="og:image"
  content="https://ducthanhmultimedia.com/images/logo_text.png"
/>
<meta property="og:description" content="ducthanhmultimedia" />
<link rel="icon" href="/img/favicon.ico" sizes="36x16" />
<link rel="canonical" href="./" />
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/partials/header.css" />
<script src="/js/jquery-3.5.1.slim.js"></script>
<script src="/js/index.js"></script>
<!------animated------>
<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/> -->
<link
  rel="stylesheet"
  href="/css/animate.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
