<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<title>
  <%= title %> 
</title>
<!------SEO------>
<meta name="description" content="ducthanhmultimedia" />
<meta name="keywords" content="ducthanh, media, ducthanhmultimedia" />
<meta name="author" content="ducthanhmultimedia" />
<meta property="og:url" content="https://ducthanhmultimedia.com/" />
<meta property="og:image" content="https://ducthanh-multimedia.herokuapp.com/img/logo_text.png" />
<meta property="og:description" content="ducthanhmultimedia" />
<link rel="icon" href="/img/favicon.ico" sizes="36x16" />
<link rel="canonical" href="./" />
<!------styles------>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" media="all" rel="stylesheet" />
<link rel="stylesheet" href="/css/partials/header.css" media="all" />
<script src="/js/jquery-3.5.1.slim.js" defer></script>
<script src="/js/index.js" defer></script>
<!------animated------>
<link rel="stylesheet" media="all" href="/css/animate.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js" async></script>