<!DOCTYPE html>
<html ⚡ lang="vn">
  <head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="wrapper">
      <div class="header">
        <!-- Navbar Start -->
        <%- include ('../partials/header') %>
        <!-- Navbar End -->
      </div>
      <div class="content">
        <div class="head-video">
          <video src="/video/ducthanh.mp4" autoplay="autoplay" muted="muted" loop="loop"></video>
        </div>
      </div>
    </div>

    <!-- Footer-->
    <%- include ('../partials/footer') %>
  </body>
</html>
