<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="static__bannertext flx">
            <div class="content-flx d-flex" style="margin: 0 auto">
                <span><img src="/images/note.png"></span>
                <div class="site__title">
                    <span>Information Hub for</span>
                    Serious Traders
                </div>
            </div>
        </div>
        <div class="container-lg mb-5">
            <div class="list-block">
                <ul class="nav justify-content-center site__nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Company News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fundamental Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Technical Analysis</a>
                    </li>
                    <li class="nav-item" style="display: flex;
                    flex-direction: column;
                    justify-content: center;padding: 0 15px;">
                        <span>Education</span>
                        <ul class="sub-menu">
                            <li><a href="#">Forex Trading 101</a></li>
                            <li><a href="#">Technical Analysis 101</a></li>
                            <li><a href="#">Fundametial Analysis 101</a></li>
                            <li><a href="#">Rish Management 101</a></li>
                            <li><a href="#">Trading Psychology 101</a></li>
                            <li><a href="#">Trading Plan 101</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" style="display: flex;
                    flex-direction: column;
                    justify-content: center;padding: 0 15px;">
                        <span>Trading Data</span>
                        <ul class="sub-menu">
                            <li><a href="#">Scheduled Server Maintenance</a></li>
                            <li><a href="#">Ex Dividends Indices</a></li>
                            <li><a href="#">Ex Dividends Stocks</a></li>
                            <li><a href="#">Earning Reports</a></li>
                            <li><a href="#">MetaTrader 4 Swaps</a></li>
                            <li><a href="#">cTrader Swaps</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" style="display: flex;
                    flex-direction: column;
                    justify-content: center;padding: 0 15px;">
                        <span>About</span>
                        <ul class="sub-menu">
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="row list mt-4">
                    <div class="col-lg-8">
                        <header class="entry-header flx">
                            <div class="post_date">
                                <span class="day">19</span>
                                <span class="month">Dec</span>
                                <span class="year">2017</span>
                            </div>
                            <div class="head_title-side">
                                <h1 class="entry-title">Getting Started</h1>
                                <div class="entry-details">
                                    <span class="author"><span class="ti-user"><i
                                                class="fa fa-user"></i></span>VGF</span>
                                    <span class="no_of_cmnt"><span class="ti-comment"><i
                                                class="fa fa-comments"></i></span>No Comments </span>
                                    <span class="tag"><span class="ti-tag"><i class="fa fa-tags"></i></span></span>
                                </div><!-- .entry-details -->
                            </div>
                        </header>
                        <div class="next-link-ic text-center">
                            <br>
                            <a href="#" class="text-dark"><img src="/images/start-btn.png" alt="start-btn" width="300px"
                                    style="margin: 0 auto"></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <aside id="recent-posts-2" class="widget widget_recent_entries">
                            <h2 class="widget-title">Recent Posts</h2>
                            <ul>
                                <li>
                                    <a href="#">Friday
                                        8th May: NFP Day – Remain Vigilant</a>
                                    <span class="post-date">May 8, 2020</span>
                                </li>
                                <li>
                                    <a href="#">Friday
                                        8th May: NFP Day – Remain Vigilant</a>
                                    <span class="post-date">May 8, 2020</span>
                                </li>
                                <li>
                                    <a href="#">Friday
                                        8th May: NFP Day – Remain Vigilant</a>
                                    <span class="post-date">May 8, 2020</span>
                                </li>
                                <li>
                                    <a href="#">Friday
                                        8th May: NFP Day – Remain Vigilant</a>
                                    <span class="post-date">May 8, 2020</span>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>