<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/pages/loyalty.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main class="bg-dark">
        <div class="container content_md p-4 text-center bg-light">
            <div class="section-content">
                <h1 class="pb-3">Welcome to the BTF Loyalty program!</h1>
                <div class="section-content_680">
                    <p>BTF Loyalty program is an exclusive club where your devotion to BTF counts for real gifts – from
                        hi-tech gadgets to Mercedes S-Class! </p>
                </div>

                <p><b>Just trade or attract clients to earn points and get generous prizes from your broker.</b></p>

                <div class="prize_example">
                    <img src="/images/prize.png" width="100%" style="border-radius: 10px;">
                </div>
            </div>
            <div class="section-content">
                <div class="section-content__title">1. How to earn points?</div>
                <div class="section-content_680">
                    <p>You earn points when you trade with BTF (or when your clients trade – in case you are an BTF
                        Partner). Status points make you progress to the next Loyalty statuses, and Prize points can be
                        exchanged for gifts. </p>
                </div>
                <p><b>The higher your status, the higher your rewards!</b>
                </p>
                <a href="#" class="btn btn-success">Earn Points</a>
            </div>

            <div class="section-content">
                <div class="section-content__title">2. How to exchange Prize points for gifts?</div>
                <p>
                    Once you earned Prize points, you access to supreme prizes and VIP services. </p>
                <div class="prize-list-wrap">
                    <div class="prize-list-wrap__title">
                        <div class="prize-list-wrap__title__content">
                            <span class="prize-list-wrap__title-text">
                                <img src="/images/crown-green.svg" alt="" width="30px" class="mr-3">
                                Green Status prizes
                            </span>
                        </div>
                    </div>
                    <div class="prize-list row">
                        <div class="prize-item">
                            <img src="/images/dollar.jpg" alt="">
                            <span class="prize-item__caption">
                                Cash for points </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/coach.jpg" alt="">
                            <span class="prize-item__caption">
                                Private coaching session </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/server.png" alt="">
                            <span class="prize-item__caption">
                                VPS-server </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/gift.png" alt="">
                            <span class="prize-item__caption">
                                BTF Lucky souvenir collection </span>
                        </div>
                    </div>
                </div>
                <div class="prize-list-wrap mt-3">
                    <div class="prize-list-wrap__title">
                        <div class="prize-list-wrap__title__content">
                            <span class="prize-list-wrap__title-text">
                                <img src="/images/crown-silver.svg" alt="" width="30px" class="mr-3">
                                Silver Status prizes &amp; VIP services
                            </span>
                        </div>
                    </div>
                    <div class="prize-list row">
                        <div class="prize-item">
                            <img src="/images/iphoneX.jpg" alt="">
                            <span class="prize-item__caption">
                                iPhoneX 256GB </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/galaxy.jpg" alt="">
                            <span class="prize-item__caption">
                                Samsung Galaxy S10+ 128 GB </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/tab.jpg" alt="">
                            <span class="prize-item__caption">
                                Samsung Galaxy Tab S4 64GB </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/finance3.jpg" alt="">
                            <span class="prize-item__caption">
                                High priority deposit and withdrawal processing </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/help.png" alt="">
                            <span class="prize-item__caption">
                                High priority customer requests via online chat </span>
                        </div>
                    </div>
                </div>
                <div class="prize-list-wrap">
                    <div class="prize-list-wrap__title">
                        <div class="prize-list-wrap__title__content">
                            <span class="prize-list-wrap__title-text">
                                <img src="/images/crown-gold.svg" alt="" width="30px" class="mr-3">
                                Gold Status prizes &amp; VIP services
                            </span>
                        </div>
                    </div>
                    <div class="prize-list row">
                        <div class="prize-item">
                            <img src="/images/mac-air.jpg" alt="">
                            <span class="prize-item__caption">
                                MacBook Air 13’’ 256GB </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/imac.jpg" alt="">
                            <span class="prize-item__caption">
                                iMac Pro 27” 32Gb </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/dongho.jpg" alt="">
                            <span class="prize-item__caption">
                                Rolex Submariner </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/personal.png" alt="">
                            <span class="prize-item__caption">
                                Personal manager </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/quatang.jpg" alt="">
                            <span class="prize-item__caption">
                                Exclusive Birthday and New Year gifts </span>
                        </div>
                    </div>
                </div>
                <div class="prize-list-wrap">
                    <div class="prize-list-wrap__title">
                        <div class="prize-list-wrap__title__content">
                            <span class="prize-list-wrap__title-text">
                                <img src="/images/monarchy.svg" alt="" width="30px" class="mr-3">
                                Platinum Status prizes &amp; VIP services
                            </span>
                        </div>
                    </div>
                    <div class="prize-list row">
                        <div class="prize-item">
                            <img src="/images/mercedes.jpeg" alt="">
                            <span class="prize-item__caption">
                                Mercedes S-Class
                            </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/donghovang.jpg" alt="">
                            <span class="prize-item__caption">
                                Rolex Yacht-Master Gold </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/trip.jpg" alt="">
                            <span class="prize-item__caption">
                                Trip to BTF Headquarters </span>
                        </div>
                        <div class="prize-item">
                            <img src="/images/event.jpg" alt="">
                            <span class="prize-item__caption">
                                VIP event invitation </span>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-success">Get your gifts</a>
            </div>

            <div class="section-content">
                <div class="section-content__title">3. How to get a higher Loyalty status?</div>
                <p>
                    Increase your total deposit amount/clients’ turnover and earn Status points! When you progress to
                    the next Loyalty status, you unlock new (and even more luxurious!) gifts. Plus, your Prize points
                    coefficient increases, which means you can get more rewards. </p>

                <div class="progr-cards-wrap">
                    <img src="i/loyalty/level-up.png" alt="">
                    <div class="progr-card">
                        <div class="progr-card-item">
                            <div class="progr-card-item__top">
                                <div class="progr-card-item">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-success">Level up your status</a>
            </div>

            <div class="section-content">
                <div class="section-content__title">4. How to join the Loyalty program?</div>
                <p>
                    Take 3 simple steps in your Personal area in order to participate: </p>
                <div class="adversting-steps">
                    <div class="adversting-step">
                        <i class="arrow-prize adversting-step__arrow-prize"></i>
                        <div class="adversting-step__icon adversting-step__icon--confirm"></div>
                        <div class="adversting-step__text">Confirm your email</div>
                    </div>
                    <div class="adversting-step">
                        <i class="arrow-prize adversting-step__arrow-prize"></i>
                        <div class="adversting-step__icon adversting-step__icon--verify"></div>
                        <div class="adversting-step__text">Confirm your identity</div>
                    </div>
                    <div class="adversting-step">
                        <div class="adversting-step__icon adversting-step__icon--become"></div>
                        <div class="adversting-step__text">
                            Become a Loyalty program member </div>
                    </div>
                </div>
                <p>Level up to the highest status and reach out for the most luxurious prizes!
                </p>
                <a href="#" class="btn btn-success">Join now</a>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>